* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background: rgb(26, 25, 25);
}

header {
    display: flex;
    align-items: baseline;
    background: grey;
    height: 90px;
    flex-flow: row wrap;
}

.logo {
    flex: 10%;
    color: white;
    justify-content: center;
    font-family: "Anton", sans-serif;
    margin-left: 5%;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);

}

.menu {
    display: flex;
    flex: 50%;
    justify-content: center;
}

.menu a {
    text-decoration: none;
    padding: 20px;
    color: white;
    font-weight: 700;
    font-size: larger;

}

.connect {
    display: flex;
    position: relative;
    color: black;
    border-radius: 50px;
    background: gold;
    padding: 20px;
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
font-weight: 800;
border: transparent;

}

.botao {
    display: flex;

    flex: 20%;
    justify-content: center;
}
.menu a:hover{
    background: gold;
    border-radius: 50px;
    color: black;
    border: solid black 1px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.connect:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: black;
    border: gold solid 3px;
    color: gold;
    font-weight: 800;
}
.meio{
    display: flex;
border: solid 1px white;
height: 500px;
justify-content: center;
align-content: center;
flex-direction: row;
}
.meio div {
    border: solid 1px white;
    flex: 45%;

}

